EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=

# RENDER
RENDER_DOMAIN=

# DJANGO
SECRET_KEY=
DJANGO_SETTINGS_MODULE=

# DB
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=